body {
    background-color: rgb(154, 187, 105);
}

p {
    text-align: justify;
    text-indent: 50px;
}

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.398);
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.307);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

a {
    text-decoration: none;
    color: rgb(0, 133, 7);
}

nav#menu a {
    text-decoration: none;
    color: rgb(38, 57, 9)
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: -125px;
    left: 380px;
    right: auto;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(119, 152, 68);
    padding: 10px;
    margin: 2px;
    transition: 0.25s;
}

nav#menu li:hover {
    background-color: rgb(99, 121, 65)
}

nav#menu h1 {
    display: none;
}

div#interface{
    width: 1000px;
    background-color: rgb(202, 227, 165);
    margin: 10px auto 10px auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    padding: 10px ;
}
header#cabecalho img#icone{
    float: right;
    margin-top:-70px;
    left: 900px;
    right: auto;
}